body 
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 75vh;
    background-color: grey;
}

nav 
{
    position: absolute;
    top: 0;
    left: 0;
}

.hexagonArea 
{
    height: 420px;
    width: 560px;
    position: absolute;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin: 10px;
    top: 100px;
    left: 150px;
}

.hexagon 
{
    position: absolute;
    width: 55px;
    height: 55px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

.areas 
{
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.pieceAreas
{
    height: 180px;
    width: 300px;
    left: 800px;
    top: 180px;
    position: relative;
    margin: 10px;
}

.score
{
    position: absolute;
    top: 50px;
    left: 380px;  
    margin: 10px;
    font-weight: bold;
    font-size: 25px;
    color: lightgrey;
    color: crim;
}
